<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="ad" value=""/>
    <add key="soyad" value=""/>
    <add key="tel" value="(xxx) xxx-xxxx"/>
    <add key="email" value=""/>
    <!-- Şehrin plaka kodunu başlangıçta 0 kullanmayarak girin. -->
    <add key="sehir" value="34"/>
    <add key="adres" value=""/>
    <!-- Magnum'dan SMS ve E-posta aracılığıyla haberdar olmak istiyorsanız on istemiyorsanız off girin. -->
    <add key="newsletter" value="on"/>
  </appSettings>
</configuration>
